@model ProjectsIndexViewModel
@{
    ViewBag.Title = "User's projects";
    Layout = "_Layout";
}

<div class="row align-items-md-stretch py-4">
    <div class="h-100 bg-light rounded col border m-2">

        <h5 class="card-title p-1 py-2">You are in projects:</h5>
        <div class="card p-0 m-1">
            @if (Model != null)
            {
                <ul class="list-group list-group-flush">
                    @foreach (var project in Model?.UserOwn)
                    {
                        <li class="list-group-item">
                            <a href="#" data-ajax="true" data-ajax-url="/Projects/ProjectInfo/@(project.Id)" data-ajax-update="#projectInfo">
                                @(project.Name) : @(project.ProjectStart.ToString("d")) - @(project.ProjectEnd.ToString("d"))
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        <h5 class="card-title p-1 py-2">Your own projects:</h5>
        <div class="card p-0 m-1">
            @if (Model != null)
            {
                <ul class="list-group list-group-flush">
                    @foreach (var project in Model?.Participating)
                    {
                        <li class="list-group-item">
                            <a href="#" data-ajax="true" data-ajax-url="/Projects/ProjectInfo/@(project.Id)" data-ajax-update="#projectInfo">
                                @(project.Name) : @(project.ProjectStart.ToString("d")) - @(project.ProjectEnd.ToString("d"))
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        <a href="#" class="btn btn-success my-2 mx-1" data-bs-toggle="modal"
           data-bs-target="#staticBackdrop"
           onclick="loadModal('/Projects/AddProject')">
            Add project!
        </a>
    </div>
    <div class="h-100 bg-light rounded col border p-0 m-2" id="projectInfo">
        <div class="card m-5 p-2 alert-info">
            <p class="card-text">
                Click on project to view information!
            </p>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalLoading" style="display: none;">
                <img src="~/img/loading.gif" height="100%" alt="loading_img">
            </div>
            <div class="modal-body p-0" id="modalBody">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" defer>
    function loadModal(url){
        fetch(url)
          .then((response) => {
                              return response.text();
                          })
                          .then((result) => {
                              // var myModal = new bootstrap.Modal(document.getElementById('modal'), {});
                              // myModal.toggle();
                              document.getElementById('modalBody').innerHTML = result;
                          });
    }
    </script>